body{
	
}

.left{
	width:400px;
	float:left;
}
.right{
	width:400px;
	float:right;
}
.hor{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.hor>a>li{
	padding: 10px 20px;
	height: 20px;
	float: left;
}