body{
	
}

#title{
	font-size: 40px;
	color: #222222;
}
.holder{
	width:900px;
	margin: 0px auto;
}
.header{
	height: 100px;
	margin: 10px auto;
}
.header>.left{
	width:300px;
}
.header>.right{
	width: 500px;
}


#register_form{
	margin: 30px 0px 0px 10px;
}